@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Fugaz+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import 'tailwindcss';
/* @import 'tailwindcss/preflight'; */
@tailwind utilities;

@theme {

  --color-highlight: #e13e20;
  --color-banner: #dd3333;
  --color-headline: #ffc300;
  --color-offblack: #1c1c1cee;
  --color-mediumgray: #676767;

  --font-heading: "Ubuntu", "Trebuchet MS", Helvetica, sans-serif;
  --font-main: 'Roboto', serif;
  --font-menu: "Exo";
  --font-title: "Fugaz One", "Trebuchet MS", Helvetica, sans-serif;

  --text-small: 0.85rem;
}